@import url('https://fonts.googleapis.com/css?family=Quicksand');

.loader-container {
    text-align: center;
    margin: auto;
}

.loader {
    margin: auto;
    height: 120px;
    width: 120px;
    position:center;
    border: 14px solid #d5d5d5;
    border-top-color: #88d0de;
    border-radius: 50%;
    animation: spin .6s ease-in-out infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
